html {
  font: 96px Courier;
}

.box {
	background-color: green;
	width: 100px;
	text-align: center;
	display: block;
}

.even {
	background-color: red;
	display: ;
}

.odd {
}

.layer {
}

#box_0 {
	position: relative;
	
}

#box_1 {
	position: relative;
	left: 100px;
}

#box_2 {
	position: relative;
	left: 200px;
}

#box_3 {
	position: relative;
	left: 300px;
}

#box_4 {
	position: relative;
	left: 400px;
}

#box_5 {
	position: relative;
	left: 400px;
}

#box_6 {
	position: relative;
	left: 300px;
}

#box_7 {
	position: relative;
	left: 200px;
}

#box_8 {
	position: relative;
	left: 100px;
}

#box_9 {
	position: relative;
}