#maincontent {
	margin: auto;
	width:80%;
}

#weather {
	max-width: 1031px;
	margin: auto;
	vertical-align: top;
}

.weatherbox {
	width: 180px;
	display: inline-block;
	vertical-align: top;
}

.weatherbox img {
	width: 75px;
	height: 75px;
}

.weatherbox:first-child {
	width: 231px;
}

.weatherbox:first-child img{
	width: 100px;
	height: 100px;
}

#tempselect {
	float: right;
}
